@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Black.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 900;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-BlackItalic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Bold.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 700;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-BoldItalic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 400;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Italic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Light.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-LightItalic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Medium.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Thin.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 100;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-ThinItalic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-UltraLight.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  font-weight: 200;
  font-style: italic;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-UltraLightItalic.woff');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  src: local('AvenirNextCyr'), local('AvenirNextCyr'), url('../fonts/HelveticaNeueCyr-Roman.woff');
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: #f0ab00;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
footer .menu {
  width: calc(100% - 400px);
  display: inline-block;
}
footer .menu:after {
  content: '';
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
footer .menu li {
  float: left;
  position: relative;
  width: 20%;
  height: 45px;
  z-index: 1;
  vertical-align: top;
  list-style: none;
  text-align: center;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}
footer .menu li:hover {
  background: #8b004c;
}
footer .menu li:hover a {
  color: #fff;
}
footer .menu li:hover a:before {
  background: url(../img/ui/footer-menu-trigger_icon_sprite@x2.png) no-repeat left bottom;
  background-size: 200%;
}
footer .menu li.active {
  background: #8b004c;
}
footer .menu li.active a {
  color: #fff;
}
footer .menu li.active a:before {
  background: url(../img/ui/footer-menu-trigger_icon_sprite@x2.png) no-repeat right bottom;
  background-size: 200%;
}
footer .menu li a {
  line-height: 45px;
  text-transform: uppercase;
  color: #341556;
  font-weight: 500;
}
footer .menu li a:before {
  content: "";
  width: 16px;
  height: 8px;
  background: url(../img/ui/footer-menu-trigger_icon_sprite@x2.png) no-repeat left top;
  background-size: 200%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: -3px;
  margin-right: 11px;
}
footer .copyright {
  float: right;
  margin-right: 30px;
  color: #3c1053;
  font-weight: 500;
  font-size: 1em;
  line-height: 40px;
}
footer .copyright span,
footer .copyright img {
  display: inline-block;
  vertical-align: middle;
}
footer .copyright span span,
footer .copyright img span {
  text-transform: uppercase;
}
footer .copyright img {
  margin-left: 7px;
}

header {
  height: 133px;
  background: #fff;
  border-bottom: 1px solid #ccc2d1;
  position: relative;
}
header.small {
  height: 75px;
  box-shadow: 0px 0px 100px -10px rgba(50, 50, 50, 0.75);
}
header.small .logo {
  width: 175px;
  height: 47px;
}
header:after {
  content: "";
  width: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .logo {
  top: 50%;
  left: 68px;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 298px;
  height: 80px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: cover;
}
header .right {
  top: 50%;
  right: 28px;
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .right .phone,
header .right .app,
header .right .account,
header .right .reg {
  display: inline-block;
  vertical-align: middle;
  line-height: 46px;
  border-right: 2px solid #f0ab00;
}
header .right .phone:last-child,
header .right .app:last-child,
header .right .account:last-child,
header .right .reg:last-child {
  border-right: none;
}
header .right .phone {
  padding: 0 16px;
}
header .right .phone a {
  font-weight: 300;
  font-size: 1.875em;
  color: #f0ab00;
  letter-spacing: 0.6px;
}
header .right .app {
  padding: 0 24px;
}
header .right .app span,
header .right .app a {
  display: inline-block;
  vertical-align: middle;
  line-height: 46px;
  font-size: 0.938em;
  color: #3c1053;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
}
header .right .app span img,
header .right .app a img {
  vertical-align: middle ;
}
header .right .app span {
  margin-right: 15px;
}
header .right .app span:before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  position: relative;
  margin-right: 12px;
  background: url(../img/ui/phone_icon@x2.png) no-repeat center center;
  background-size: 19px;
}
header .right .app a:nth-of-type(1) {
  margin-right: 5px;
}
header .right .app:hover span:before,
header .right .app .active span:before {
  background: url(../img/ui/phone_icon@x2.png) no-repeat center center #f0ab00;
  background-size: 19px;
}
header .right .account {
  padding: 0 19px;
}
header .right .account a {
  color: #3c1053;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  font-size: 0.938em;
}
header .right .account a:before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  position: relative;
  margin-right: 10px;
  background: url(../img/ui/account_icon.png) no-repeat center center;
  background-size: 28px;
}
header .right .account:hover a:before,
header .right .account .active a:before {
  background: url(../img/ui/account_icon.png) no-repeat center center #f0ab00;
  background-size: 28px;
}
header .right .reg {
  padding: 0 25px;
}
header .right .reg a {
  color: #3c1053;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  font-size: 0.938em;
}
header .right .reg a:before {
  content: "";
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  position: relative;
  margin-right: 8px;
  background: url(../img/ui/reg_icon.png) no-repeat center center;
  background-size: 29px;
}
header .right .reg:hover a:before,
header .right .reg .active a:before {
  background: url(../img/ui/reg_icon.png) no-repeat center center #f0ab00;
  background-size: 29px;
}

.background-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.9);
  z-index: 100;
  display: none;
}
.popup-inner {
  z-index: 5;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 106;
}
.popup.active {
  display: block;
}

body,
html {
  margin: 0;
  padding: 0;
}
body {
  font-size: 100%;
  font-family: 'HelveticaNeueCyr';
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none!important;
}
.main {
  margin-bottom: 45px;
}
.container {
  width: 1098px;
  margin: 0 auto;
}
#page-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 110;
}
#page-preloader .spinner {
  position: absolute;
  left: 50%;
  margin-left: -65.5px;
  top: 50%;
  margin-top: -17.5px;
  width: 131px;
  height: 35px;
  background: url(../img/logo.png) no-repeat center center;
  background-size: contain;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
}
* {
  outline: none;
}
.cuslom_dropdown {
  display: block;
  padding: 0;
  width: 57px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  border-top: none;
  -webkit-transition: width 0.1s linear;
          transition: width 0.1s linear;
}
.cuslom_dropdown ul {
  display: block;
  padding: 0px;
  width: 57px;
  height: 27px;
  overflow: hidden;
  margin: 0;
  background: transparent;
  z-index: 1;
  border-radius: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: width 0.1s linear;
          transition: width 0.1s linear;
  font-size: 0;
}
.cuslom_dropdown ul li {
  display: inline-block;
  width: 57px;
  vertical-align: middle;
  font-weight: 300;
  font-size: 8px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.cuslom_dropdown ul li:first-child {
  background: transparent !important;
  border-bottom: none;
  text-align: left;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.cuslom_dropdown ul li:first-child:after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  right: 3px;
  top: 0;
  z-index: 2;
  background: url(../img/ui/custom_dropdown_trigger.png) no-repeat 0px center;
  background-size: 5px;
  cursor: pointer;
  margin-top: -1px;
}
.cuslom_dropdown ul li:first-child a {
  width: calc(100% - 12px);
  padding-left: 12px;
}
.cuslom_dropdown ul li:last-child {
  border-right: none;
}
.cuslom_dropdown ul li:hover {
  background: #403f3f !important;
}
.cuslom_dropdown ul.active {
  width: 229px;
  border-bottom: none;
}
.cuslom_dropdown.active {
  overflow: visible;
  width: 229px;
}
.cuslom_dropdown.active ul li:first-child:after {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  right: 8px;
  top: 0;
  z-index: 1;
  background: url(../img/ui/custom_dropdown_trigger_active.png) no-repeat center center;
  background-size: 5px;
  cursor: pointer;
}
input,
textarea,
button {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #151515;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #151515;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #151515;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #151515;
}


.astrazeneka-page:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.astrazeneka-page .block_1 {
  min-height: 866px;
  background: url(../img/astrazeneka_block_1_bg.png) no-repeat 85% center #00d4e2;
  background-size: contain;
  width: 100%;
}
.astrazeneka-page .block_1 h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 3.563em;
  padding-top: 35%;
  position: relative;
}
.astrazeneka-page .block_1 h2:before {
  content: "";
  width: 253px;
  height: 59px;
  background: url(../img/astrazeneka-logo@x2.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: calc(65% + 30px);
  left: 0;
}
.astrazeneka-page .block_2 {
  background: #c6d600;
  padding: 90px 0;
  padding-bottom: 50px;
  border-top: 1px solid #fff;
}
.astrazeneka-page .block_2:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.astrazeneka-page .block_2 .left {
  width: calc(50% - 70px);
  padding-right: 70px;
  float: left;
}
.astrazeneka-page .block_2 .right {
  width: calc(50% - 70px);
  float: left;
  padding-left: 70px;
}
.astrazeneka-page .block_2 p {
  width: 100%;
  color: #3f4444;
  line-height: 30px;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  font-size: 1.375em;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 2px solid #3f4444;
}
.astrazeneka-page .block_3 {
  padding: 80px 0;
}
.astrazeneka-page .block_3:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.astrazeneka-page .block_3 .left {
  width: calc(50% - 70px);
  padding-right: 70px;
  float: left;
}
.astrazeneka-page .block_3 .right {
  width: calc(50% - 70px);
  float: left;
  padding-left: 70px;
}
.astrazeneka-page .block_3 img {
  width: 417px;
}
.astrazeneka-page .block_3 p {
  color: #3f4444;
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  font-size: 1.375em;
}
.astrazeneka-page .block_3 .phone,
.astrazeneka-page .block_3 .fax,
.astrazeneka-page .block_3 .mail {
  font-style: italic;
  font-size: 1.375em;
  color: #3f4444;
  line-height: 30px;
}
.astrazeneka-page .block_3 .phone a,
.astrazeneka-page .block_3 .fax a,
.astrazeneka-page .block_3 .mail a {
  display: inline-block;
  position: relative;
}
.astrazeneka-page .block_3 .phone a:before,
.astrazeneka-page .block_3 .fax a:before,
.astrazeneka-page .block_3 .mail a:before {
  content: "";
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -7px;
  margin-right: 20px;
}
.astrazeneka-page .block_3 .phone {
  margin-top: 25px;
}
.astrazeneka-page .block_3 .phone a:before {
  background: url(../img/ui/phone_icon_2@x2.png) no-repeat center center;
  background-size: contain;
}
.astrazeneka-page .block_3 .mail {
  margin-top: 35px;
}
.astrazeneka-page .block_3 .mail a:before {
  background: url(../img/ui/mail_icon@x2.png) no-repeat center center;
  background-size: contain;
}
.astrazeneka-page .block_3 .fax a:before {
  background: url(../img/ui/fax_icon@x2.png) no-repeat center center;
  background-size: contain;
}

.enter-page:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.enter-page .header {
  height: 285px;
  background: #3c1053;
}
.enter-page .header h1 {
  font-size: 3.125em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 170px;
  position: relative;
}
.enter-page .header h1:before {
  content: "";
  width: 60px;
  height: 10px;
  background: #f0aa00;
  top: 145px;
  left: 0;
  position: absolute;
}

.index:after {
  content: "";
  height: 0;
  width: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.index .item {
  float: left;
  width: 33.33333333%;
  padding: 60px 0;
}
.index .item .icon {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
  background: #f0ab00;
  margin: 0px auto;
  margin-bottom: 40px;
}
.index .item .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.index .item .title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.563em;
  letter-spacing: 0.5;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 80px;
}
.index .item .title:after {
  content: "";
  width: 60px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.index .item ul {
  width: 320px;
  margin: 0 auto;
}
.index .item ul li {
  list-style: none;
  margin-bottom: 40px;
}
.index .item ul li:last-child {
  margin-bottom: 0;
}
.index .item ul li a {
  color: #fff;
  position: relative;
  font-size: 1.375em;
}
.index .item ul li a:after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #f0ab00;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
          transition: opacity 0.1s linear;
}
.index .item ul li a:hover:after {
  opacity: 1;
}
.index .item_1 {
  background: #3c1053;
}
.index .item_2 {
  background: #8b004c;
}
.index .item_2 .icon img {
  left: calc(50% + 10px);
}
.index .item_3 {
  background: #003a65;
  text-align: center;
}
.index .item_3 ul li {
  text-align: center;
  color: #fff;
  font-size: 1.375em;
  letter-spacing: 0.66px;
}
.index .item_3 a.confirm {
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 1.563em;
  letter-spacing: 0.5px;
  line-height: 60px;
  height: 60px;
  border: 2px solid #ddd;
  border-radius: 30px;
  padding: 0 40px;
  margin-top: 160px;
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}
.index .item_3 a.confirm:hover {
  background: #fff;
  color: #003a65;
}

.zaglushka_for_doctor,
.zaglushka_korisna_info {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #003865;
}
.zaglushka_for_doctor section,
.zaglushka_korisna_info section {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% - 60px));
      -ms-transform: translate(-50%, calc(-50% - 60px));
          transform: translate(-50%, calc(-50% - 60px));
}
.zaglushka_for_doctor section .icon,
.zaglushka_korisna_info section .icon {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
  background: #f0ab00;
  margin: 0px auto;
  margin-bottom: 40px;
}
.zaglushka_for_doctor section .icon img,
.zaglushka_korisna_info section .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.zaglushka_for_doctor section .title,
.zaglushka_korisna_info section .title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.563em;
  letter-spacing: 0.5;
  color: #fff;
  text-align: center;
  position: relative;
  line-height: 60px;
}
.zaglushka_korisna_info {
  background: #8b004c;
}

